swagger: "2.0"
info:
  version: "1.0.0"
  title: "Swagger HACKER NEWS"
host: "asw-1199476051.herokuapp.com"
basePath: "/api/v1"
schemes:
- "http"
- "https"
paths:
  /users/{UserId}:
    get:
      tags:
      - "User"
      summary: "Returns a user"
      produces:
      - "application/json"
      parameters:
      - name: "UserId"
        in: "path"
        description: "User id to get"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
        404:
          description: "Not found"
  /users:
    put:
      tags:
      - "User"
      summary: "Modifies a user"
      description: ""
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "formData"
        description: "Name of the user"
        required: false
        type: "string"
        format: "int64"
      - name: "email"
        in: "formData"
        description: "Email of the user"
        required: false
        type: "string"
      - name: "about"
        in: "formData"
        description: "Text of the post"
        required: false
        type: "string"
      - name: "Authentication"
        in: "header"
        description: "An authorization header"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
        404:
          description: "Not found"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"