swagger: "2.0"
info:
  version: "1.0.0"
  title: "Swagger HACKER NEWS"
host: "asw-1199476051.herokuapp.com"
basePath: "/api/v1"
schemes:
- "http"
- "https"
paths:
  /replies/{ReplyId}:
      get:
        tags:
        - "Replies"
        summary: "Returns a reply"
        produces:
        - "application/json"
        parameters:
        - name: "ReplyId"
          in: "path"
          description: "Reply id to get"
          required: true
          type: "integer"
          format: "int64"
        responses:
          200:
            description: "successful operation"
          404:
            description: "Not found"
      delete:
        tags:
        - "Replies"
        summary: "Deletes a reply"
        description: ""
        consumes:
        - "multipart/form-data"
        produces:
        - "application/json"
        parameters:
        - name: "ReplyId"
          in: "path"
          description: "Reply id to delete"
          required: true
          type: "integer"
          format: "int64"
        - name: "Authentication"
          in: "header"
          description: "An authorization header"
          required: true
          type: string
        responses:
          200:
            description: "successful operation"
          404:
            description: "Not found"
          401:
            description: "Unauthorized"
          403:
            description: "Forbidden"
      put:
        tags:
        - "Replies"
        summary: "Modifies a reply"
        description: ""
        consumes:
        - "multipart/form-data"
        produces:
        - "application/json"
        parameters:
        - name: "ReplyId"
          in: "path"
          description: "Reply id to edit"
          required: true
          type: "integer"
          format: "int64"
        - name: "content"
          in: "formData"
          description: "Content of the reply"
          required: true
          type: "string"
        - name: "Authentication"
          in: "header"
          description: "An authorization header"
          required: true
          type: string
        responses:
          200:
            description: "successful operation"
          404:
            description: "Not found"
          401:
            description: "Unauthorized"
          403:
            description: "Forbidden"
  /replies/add:
      post:
        tags:
        - "Replies"
        summary: "Adds a new reply"
        description: ""
        consumes:
        - "multipart/form-data"
        produces:
        - "application/json"
        parameters:
        - name: "content"
          in: "formData"
          description: "Content of the reply"
          required: true
          type: "string"
        - name: "ID Comment"
          in: "formData"
          description: "Id Comment of the Reply"
          required: true
          type: "integer"
          format: "int64"
        - name: "Authentication"
          in: "header"
          description: "An authorization header"
          required: true
          type: string
        responses:
          200:
            description: "successful operation"
          401:
            description: "Unauthorized"
          403:
            description: "Forbidden"
  /replies/{ReplyId}/upvote:
      post:
        tags:
        - "Replies"
        summary: "Upvote a reply"
        produces:
        - "application/json"
        parameters:
        - name: "ReplyId"
          in: "path"
          description: "Reply id to vote"
          required: true
          type: "integer"
          format: "int64"
        - name: "Authentication"
          in: "header"
          description: "An authorization header"
          required: true
          type: string
        responses:
          200:
            description: "successful operation"
          402:
            description: "can't vote"
          404:
            description: "Not found"
  /replies/{ReplyId}/downvote:
      post:
        tags:
        - "Replies"
        summary: "Upvote a reply"
        produces:
        - "application/json"
        parameters:
        - name: "ReplyId"
          in: "path"
          description: "Reply id to unvote"
          required: true
          type: "integer"
          format: "int64"
        - name: "Authentication"
          in: "header"
          description: "An authorization header"
          required: true
          type: string
        responses:
          200:
            description: "successful operation"
          404:
            description: "Not found"